@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="form-outline text-center col-12 offset-3">
    <h1>Forgot Password Confirmation</h1>
    <p>
        If you have an account with us, you will receive an email
        with the instructions to reset your password.
    </p>
</div>