@{
    ViewData["Title"] = "Manage Two Factor Authentication";
}

<div class="row">
    <div>
        <form class="form-outline text-center offset-3" method="post" asp-controller="Account" asp-action="ManageTwoFactorAuthentication">
            <h1>Manage Two Factor Authentication</h1>
            <hr />
            <br />
            <div class="form-group">
                <label>Enter the verification code sent to your email</label>
                <input type="text" name="Token" id="Token" class="form-control text-center" />
            </div>
            <br />
            <button type="submit" class="btn btn-info">Verify</button>
        </form>
    </div>
</div>