@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="row">
    <div class="col-md-12">
        <form class="form-outline text-center offset-3" method="post" asp-action="ResetPassword" asp-controller="Account">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h2>Reset Password</h2>
            <hr />
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
            <br />
            <button type="submit" class="btn btn-info">Reset</button>
        </form>
    </div>
</div>