@model VerifyTwoFactorTokenViewModel

@{
    ViewData["Title"] = "VerifyTwoFactorToken";
}

<div class="row">
    <div class="col-md-6">
        <form class="form-outline text-center offset-3" method="post" asp-action="VerifyTwoFactorToken" asp-controller="Account">
            <h1>Verify Two Factor Token</h1>
            <hr />
            <input asp-for="Email" type="hidden" />
            <input asp-for="ReturnUrl" type="hidden" />
            <input asp-for="Token" type="hidden" />
            <input asp-for="RememberMe" type="hidden" />

            <div class="form-group">
                <label>Enter the verification code sent to your email</label>
                <input asp-for="TwoFactorCode" class="form-control" />
                <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
            </div>
            <br />
            <br />
            <button type="submit" class="btn btn-info">Verify</button>
        </form>
    </div>
</div>