@model ProductViewModel

<h1>Edit Product</h1>
<hr />

@* <form asp-controller="Admin" asp-action="EditProduct" method="post" class="mt-3">
    <input asp-for="product_ID" type="hidden" />
    <div class="text-danger">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <input asp-for="name" class="form-control" style="margin-bottom:10px;" placeholder="Name of new product" required>
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <input asp-for="year" class="form-control" style="margin-bottom:10px;" placeholder="Year" required>
            <span asp-validation-for="year" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <input asp-for="num_parts" class="form-control" style="margin-bottom:10px;" placeholder="Number of parts" required>
            <span asp-validation-for="num_parts" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <input asp-for="img_link" class="form-control" style="margin-bottom:10px;" placeholder="Image link" required>
            <span asp-validation-for="img_link" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <input asp-for="primary_color" class="form-control" style="margin-bottom:10px;" placeholder="Primary color" required>
            <span asp-validation-for="primary_color" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <input asp-for="secondary_color" class="form-control" style="margin-bottom:10px;" placeholder="Secondary color" required>
            <span asp-validation-for="secondary_color" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <input asp-for="description" class="form-control" style="margin-bottom:10px;" placeholder="Description" required>
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <input asp-for="category" class="form-control" style="margin-bottom:10px;" placeholder="Category" required>
            <span asp-validation-for="category" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <input asp-for="price" class="form-control" style="margin-bottom:10px;" placeholder="Price" required>
            <span asp-validation-for="price" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="width:auto">Create Product</button>
            <button type="button" class="btn btn-primary" style="width:auto" onclick="history.back()">Cancel</button>
        </div>
    </div>
</form> *@