@{
    ViewData["Title"] = "ABOUT AURORA";
}
<div class="row">
    <div class="row">
        <div class="col-4">
            <img src=" ~ /img/aurora.jpg" />
        </div>
        <div class="col-8">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <p>
                Once there was a passionate soul named Aurora Brickwell. From a young age, Aurora found herself enchanted by the colorful world of LEGO bricks. Every free moment was spent building towering castles, zooming spaceships, and bustling cities in her imagination.
            </p>
            <p>
                As she grew older, Aurora's love for LEGO only deepened. She honed her skills, mastering intricate designs and innovative techniques. With dedication and perseverance, she became a true master builder, crafting creations that left jaws dropping and imaginations soaring. But Aurora's talents didn't stop at building. She had a knack for sharing her passion with others, inspiring budding builders and seasoned enthusiasts alike.
            </p>
            <p>
                With her infectious enthusiasm and boundless creativity, Aurora became an influencer in the LEGO community, gathering a legion of fans who eagerly awaited her next masterpiece. Yet, Aurora wanted to do more than just build and inspire. She dreamed of creating a community where LEGO lovers felt like family, where the joy of building was shared and celebrated.
            </p>
            <p>
                And so, with a leap of faith and a heart full of hope, Aurora became a licensed LEGO distributor, opening her very own e-Store. From the moment customers come to her website Aurora wants you to feel greeted with warmth and kindness. To her, you aren’t just customers; you’re cherished members of her extended LEGO family.
            </p>
        </div>
    </div>
</div>