<div class="container">
    <div class="form-outline text-center ">
        <div class="row">
            <h1>Confirm Cancel?</h1>
        </div>
        <div class="row">
            <h4>
                Your order will be canceled and will have to be repurchased.
            </h4>
        </div>
        <div class="row">
            <button type="button" class="btn btn-secondary" style="width:auto" onclick="history.back()">Cancel</button>
            <a class="btn btn-danger" asp-controller="Home" asp-action="">Cancel Order</a>
        </div>
    </div>
</div>