@using INTEX2_06.Infrastructure
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true">
@Model.LineItem.product_ID

<div class="container mt-3">
    <div class="tiktok-body">
        <h2 class="tiktok-h2 text-center" style="color: var(--text-light);">Welcome to BrickTok</h2>
        <h3 class="text-center" style="color: var(--text-light);">Find your favorite sets!</h3>
    </div>
    <div class="product-grid">
        @foreach (Lego l in Model.Legos)
        {
            <div class="card custom-center">
                <a asp-action="SingleProduct" asp-route-product_ID="@l.product_ID">
                    <img class="card-img" src="@l.img_link" alt="Product Image">
                    <h4 class="name-tag">@l.name</h4>
                </a>
            </div>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <form method="post" asp-controller="Admin" asp-action="DeleteProduct">
                    <!-- Admin controls here -->
                </form>
            }
            else if (User.Identity.IsAuthenticated)
            {
                <form method="post" asp-page="/Cart">
                    <!-- Cart controls here -->
                </form>
            }
        }
    </div>
    <div class="more-catalog">
        <a asp-controller="Home" asp-action="Legostore" style="color: var(--text-light); text-decoration: none;">Want to see more? View our entire catalog</a>
    </div>
</div>

