

<div class="container">
    <div class="tiktok-body">
        <h2 class="tiktok-h2">Welcome to BrickTok </h2>
        <h2 class="text-white">Find your favorite sets!</h2>
    </div>
    <div class="row">
        <div class="card m-1 p-1 col-md-4">Product 1
            <div>@@Model.name</div>
            <span>@@Model.img_link</span>
        </div>

<div class="col-md-6 flex-wrap mw-50">
    @foreach (Lego l in Model.Legos)
    {
        <partial name="LegoSummary" model="l" />
    }

</div>



