@{
    ViewData["Title"] = "Home Page";
}

@model LegosListViewModel

<h1>The Lego Store</h1>

@foreach (Lego b in Model.Legos)
{
    <partial name="LegoSummary" model="b" />
}

<div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-url-legoCategory="@Model.CurrentLegoCategory" class="btn-group pull-right m-1"></div>