@{
    ViewData["Title"] = "Home Page";
}

@model LegosListViewModel

@if (!User.Identity.IsAuthenticated)
{
    <h7>Please <a asp-controller="Account" asp-action="Login">login</a> to add items to your cart</h7>
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <form asp-controller="Admin" asp-action="CreateProduct" method="get">
        <button type="submit" class="btn-success btn-sm float-end">Create New Product</button>
    </form>
    <br /><br />
}

<div class="row m-1 p-1">
    <div class="col-3">
        <vc:lego-categories />
    </div>
    <div class="container col-9">
        <main role="main" class="pb-3">
            @foreach (Lego l in Model.Legos)
            {
                <partial name="LegoSummary" model="l" />
            }

            <div page-model="@Model.PaginationInfo" page-action="Legostore" page-classes-enabled="true" page-class="btn"
                 page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
                 page-url-legoCategory="@Model.CurrentLegoCategory" class="btn-group pull-right m-1"></div>
        </main>
    </div>
</div>