@{
    ViewData["Title"] = "Home Page";
}

@model LegosListViewModel

@if (!User.Identity.IsAuthenticated)
{
    <h7 style="color: var(--text-dark)">Please <a asp-controller="Account" asp-action="Login">login</a> to add items to your cart</h7>
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <form asp-controller="Admin" asp-action="CreateProduct" method="get">
        <button type="submit" class="btn-success btn-sm float-end">Create New Product</button>
    </form>
    <br />
    <br />
}

<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true">

<div class="container-fluid">
    <div class="row m-1 p-1">
        <!-- Left Sidebar for Categories -->
        <div class="col-1 sticky-top">
            <p style="color: var(--text-dark)">Categories</p>
            <vc:lego-categories />
            <br />
        </div>
        <div class="col-1 sticky-top">
            <p style="color: var(--text-dark)">Colors</p>
            <vc:lego-colors />
            <br />
            <button class="btn btn-primary video-popup-btn" onclick="toggleVideo()">Watch Building Video</button>
            <br />
            <button class="btn btn-danger" style="padding: 10px" onclick="toggleVideo()">Close Video</button>
        </div>

        <div class="col-10">

            <div class="pagination-wrapper">
                <div class="pagination-container">
                    <div page-model="@Model.PaginationInfo" page-action="Legostore" page-classes-enabled="true" page-class="btn"
                         page-class-normal="btn-outline-dark" page-url-legoCategory="@Model.CurrentLegoCategory" page-url-pageSize="@Model.CurrentPageSize" page-class-selected="btn-secondary" class="btn-group pull-right m-1">
                    </div>
                </div>
                <div class="page-size-container">
                    <span>Products per Page:</span>
                    <a asp-controller="Home" asp-action="Legostore" asp-route-pageSize="5" class="underline-off">5</a>
                    <a asp-controller="Home" asp-action="Legostore" asp-route-pageSize="10" class="underline-off">10</a>
                    <a asp-controller="Home" asp-action="Legostore" asp-route-pageSize="20" class="underline-off">20</a>
                </div>
            </div>
            <div role="main" class="pb-3 product-grid">
                @foreach (Lego l in Model.Legos.Distinct())
                {
                    <partial name="LegoSummary" model="l" />
                }
            </div>
        </div>

    </div>

        <!-- Hidden YouTube Video Container -->
        <div id="videoContainer" class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6BV1EPjzKLs?autoplay=1&amp;controls=0&amp;start=173"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            
        </div>
    </div>
</div>

<script>
    function toggleVideo() {
        var videoContainer = document.getElementById('videoContainer');
        videoContainer.style.display = (videoContainer.style.display == 'none' || videoContainer.style.display === '') ? 'block' : 'none';
    }
</script>