@{
    ViewData["Title"] = "Order Under Review";
}

<div class="container">
    <div class="form-outline text-center offset-3">
        <div class="row">
            <h1>Thank You!</h1>
        </div>
        <div class="row">
            <h4>
                Your order has been sent <br />
                and is under review by our team.
            </h4>
        </div>
        <div class="row">
            <a class="btn btn-danger" asp-controller="Home" asp-action="Legostore">Continue Shopping</a>
            <a class="btn btn-info" asp-controller="Home" asp-action="Index">Return to Home</a>
        </div>
    </div>
</div>