@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="container">
   <div class="form-outline text-center offset-3">
       <div class="row">
            <h1>Thank You!</h1>
       </div>
        <div class="row">
            <h4>
                Your order has been received, <br />
                and you will be notified when it ships.
            </h4>
        </div>
        <div class="row">
            <a class="btn btn-danger" asp-controller="Home" asp-action="Legostore">Continue Shopping</a>
            <a class="btn btn-info" asp-controller="Home" asp-action="Index">Return to Home</a>
        </div>
    </div>
</div>