@model CreateOrderViewModel
@{
    var currentUserId = User.Identity.Name;
}

<div class="container">
    <div class="row">
        <form class="form-outline offset-3" asp-controller="Home" asp-action="PaymentInfo" method="post">
            <h1 class="text-center">Payment Information</h1>
            <input asp-for="transaction_ID" type="hidden" value="100000" />
            <input asp-for="UserID" type="hidden" value="@currentUserId" />
            <input asp-for="amount" type="hidden" value="10" />
            <input asp-for="Index" type="hidden" value="1" />



            <div class="text-danger">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <label for="type_of_card">Card Type</label>
                    <br />
                    <select asp-for="type_of_card" class="form-control" style="margin-bottom:10px;" required>
                        <option value="" disabled selected></option>
                        <option value="Visa">Visa</option>
                        <option value="MasterCard">MasterCard</option>
                        <option value="Amex">American Express</option>
                        <option value="Discover">Discover</option>
                        <!-- Add more card types as options here -->
                    </select>
                    <span asp-validation-for="type_of_card" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <label for="bank">Bank</label>
                    <br />
                    <select asp-for="bank" class="form-control" style="margin-bottom:10px;" required>
                            <option value="" disabled selected></option>
                            <option value="Barclays">Barclays</option>
                            <option value="Halifax">Halifax</option>
                            <option value="HSBC">HSBC</option>
                            <option value="Lloyds">Lloyds</option>
                            <option value="Metro">Metro</option>
                            <option value="Monzo">Monzo</option>
                            <option value="Rbs">RBS</option>
                    </select>

                        <!-- Add more banks as options here -->
                    </select>
                    <span asp-validation-for="bank" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group row">
                <div class="col-sm-10">
                    <label for="shipping_address">Shipping Country</label>
                    <input asp-for="shipping_address" class="form-control" style="margin-bottom:10px;" placeholder="Shipping Country" required>
                    <span asp-validation-for="shipping_address" class="text-danger"></span>
                    <br />
                    <br />
                    <button type="submit" class="btn btn-info d-flex justify-content-center">
                        Continue to Confirm Info
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
