@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="form">
            <!-- Card Type Field -->
            <label for="cardType">Card Type</label>
            <select id="cardType" name="cardType">
                <option value="visa">Visa</option>
                <option value="mastercard">MasterCard</option>
                <option value="amex">American Express</option>
                <option value="discover">Discover</option>
                <!-- Add more card types as options here -->
            </select>

            <!-- Bank Field -->
            <label for="bank">Bank</label>
            <select id="bank" name="bank">
                <option value="barclays">Barclays</option>
                <option value="halifax">Halifax</option>
                <option value="hsbc">HSBC</option>
                <option value="lloyds">Lloyds</option>
                <option value="metro">Metro</option>
                <option value="monzo">Monzo</option>
                <option value="rbs">RBS</option>
                <!-- Add more banks as options here -->
            </select>

            <!-- Shipping Address Field -->
            <label for="shippingAddress">Shipping Address</label>
            <input type="text" id="shippingAddress" name="shippingAddress">
        </div>
        <div class="col-3"></div>
    </div>
</div>

