:root {
    --tt-blue: #00f2ea;
    --tt-pink: #ff0050;
    --bg-dark: #121212; /* Dark background for title */
    --bg-light: #ffffff; /* Light background for the page */
    --text-light: #ffffff; /* Light text color */
    --text-dark: #000000; /* Dark text color */
}

.footer {
    width: 100%;
    max-width: 100%;
    color: var(--text-light);
    overflow: hidden; /* Prevent unnecessary scrolling */
}

.push-left {
    justify-content: flex-start;
}

.sticktobottom {
    position: fixed;
    bottom: 0
}

/*body, html {
    height: 100%;
    margin: 0;
    background-color: var(--bg-light);*/ /* Set the overall background to light */
/*}*/

.form-outline {
    width: 50%;
    border: 1px solid #ced4da;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

    .form-outline label {
        font-weight: bold;
    }

    .form-outline input[type="text"],
    .form-outline input[type="email"],
    .form-outline input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        margin-top: 5px;
    }

    .form-outline button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

/* Overall dark theme background */
body {
    background-color: var(--bg-light);
    color: var(--text-dark);
}

/* Dark navbar with light text */
.navbar {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

/* Brand Logo */
.navbar-brand img {
    height: 40px; /* Adjust as per your logo's aspect ratio */
}

/* Navigation link styles */
.nav-link {
    color: var(--text-light);
}

    .nav-link:hover {
        color: var(--tt-pink) !important; /* Highlight color for hover state */
    }

/* Dropdown menu with dark theme */
.dropdown-menu {
    background-color: var(--bg-dark);
    border-color: var(--tt-blue);
}

.dropdown-item {
    color: var(--text-light);
}

    .dropdown-item:hover {
        background-color: var(--tt-blue);
    }

/* Footer with dark theme */
footer {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

/* Cookie consent banner */
#cookieConsent {
    background-color: var(--bg-dark);
    color: var(--text-light);
}

    #cookieConsent button {
        background-color: var(--tt-pink);
    }
