:root {
    --tt-blue: #00f2ea;
    --tt-pink: #ff0050;
    --bg-dark: #121212; /* Dark background for title */
    --bg-light: #ffffff; /* Light background for the page */
    --text-light: #ffffff; /* Light text color */
    --text-dark: #000000; /* Dark text color */
}

body, html {
    height: 100%;
    margin: 0;
    background-color: var(--bg-light); /* Set the overall background to light */
}

.container {
    width: 100%;
    max-width: 100%;
    color: var(--text-dark);
    overflow: hidden; /* Prevent unnecessary scrolling */
}

.tiktok-body {
    background-color: var(--bg-dark);
    padding: 20px 0;
    margin-bottom: 20px; /* Space below the title area */
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 10px;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 60vh; /* Limit the height to maintain a scrollable area */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

    .product-grid::-webkit-scrollbar {
        display: none; /* For Chrome, Safari, and Opera */
    }

.card {
    border: 1px solid var(--tt-blue);
    background-color: var(--bg-light);
    display: flex; /* Makes the content of the card nicely centered and flexibly filling */
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

    .card:hover {
        transform: scale(1.05);
        border-color: var(--tt-pink);
    }

.custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card-img {
    width: 100%; /* Adjust width to make sure it fits the card */
    height: auto;
}

.name-tag {
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.more-catalog {
    width: 100%;
    text-align: center;
    padding: 15px 20px; /* Increased padding for a bigger, more appealing look */
    background-color: var(--tt-pink);
    color: var(--text-light);
    font-size: 1.5rem; /* Larger text size */
    margin-top: 30px; /* Space above the catalog link */
    cursor: pointer;
}
