html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@keyframes slideUp {
    from {
        bottom: -50px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        bottom: 0;
        opacity: 1;
    }

    to {
        bottom: -50px;
        opacity: 0;
    }
}

.text-white {
    color: white;
}


/*Tiktok Classes*/
.tiktok-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.tiktok-h2 {
    color: #fff;
    font-family: monospace;
    font-size:  5em;
    font-weight: bold;
    animation: glitch 0.5s linear infinite;
}

@keyframes glitch {
    0%, 100% {
        text-shadow: -1.5px -1.5px 0 #0ff, 1.5px 1.5px 0 #f00;
    }

    25% {
        text-shadow: 1.5px 1.5px 0 #0ff, -1.5px -1.5px 0 #f00;
    }

    50% {
        text-shadow: 1.5px -1.5px 0 #0ff, -1.5px 1.5px 0 #f00;
    }

    75% {
        text-shadow: -1.5px 1.5px 0 #0ff, 1.5px -1.5px 0 #f00;
    }
}
